body {
  margin: 0;
  padding: 0;
  font-family: 'Quattrocento', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:lavenderblush;
}
h3, h4{
  margin: 0;
  text-align: center;
  padding: 20px;
}
h1{
  color: dimgray; 
}
th{
  text-transform: uppercase;
}

thead,  .tableRow {
  display: grid;
  grid-template-columns: repeat( 5, 1fr);
  place-items: center;
  padding: 10px;
  background-color: lightblue;
}

table{
  border: 2px solid black;
}
a{
  text-decoration:none;
  color: brown;
  font-weight: 700;
  font-size: 20px;
}
a:hover, a:focus { 
  color: red;
}
input[type="text"] {
  height: 22px;
  font-size: 0.9rem;
}
img{ 
  width: 100%;
  height: 100px;
}
button{
  font-size: 12px;
  font-weight: 600;
  border: 2px solid Black;
  width: 100px;
  min-height: 30px;
}
.buttons{
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.cart button{
  font-size: 20px;
  font-weight: 800;
  border: 2px solid Black;
}
.cart{
  margin: 25px;
  background-color:LightCyan;
  display: grid;
  align-self: center;
}

.products-container{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin: 15px 25px;
}
.products-container div{
  display: grid;
}
.header{
  text-align: center;
}
.SearchBar{
  margin: 25px;
  color: dimgray;
  margin: 10px;
}
.nav{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  place-items: center;
  background-color: lightsteelblue;
  color: brown;
  padding: 10px;
  margin: 0;
  text-transform: uppercase;
  list-style-type: none;
}

  .contacts, h4 {
    margin-top: 50px;
    display: grid;
    place-items:center;
    font-weight: 800;
    font-size: 1.2rem;
    text-align: center;
  }

/* #root{
  z-index: -2;
} */

  #modal {
  background-color: pink;
    height: 50%;
    width: 50%;
   
  }

  .red{
    background-color: red;
  }
 
  @media screen and (max-width: 600px){
    
    th, .cart button{
        font-size: 10px; 
        width: 50px;
        height: 20px;
    }  
	  }
  

